
a:link, a:visited {
    background-color:blue;
    color:yellow;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

.page2background {
    background-image: url(MatthewStreet01.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page3background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page4background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page5background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page6background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page7background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page8background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page9background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page10background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page11background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page12background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.page13background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.pageu2background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.pageu3background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.pageunit1background {
    background-image: url(Beatles2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.pageunit2background {
    background-image: url(B1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.movingonbackground {
    background-image: url(Silla.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.indexbackground {
    background-image: url(Old-Trafford-night.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.outcome1background {
    background-image: url(B10.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.outcome2background {
    background-image: url(B10.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.outcome3background {
    background-image: url(B10.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1 {
    color:white;
    /* background:white; */
    text-align: center;

}
h2 {
    text-align: center;
}
h3 {
    color:yellow}
h4 {color: white;
text-align: center}


* {
    box-sizing: border-box;
    padding-left: 20px}
    * {
        box-sizing: border-box;
        padding-right: 20px}
        * {
            box-sizing: border-box;
            padding-top: 1px}
            * {
                box-sizing: border-box;
                padding-bottom: 10px}

body{text-align: left;
color:yellow;
font-family: 'Oswald', sans-serif;
/* font-family:'Times New Roman', Times, serif; */
font-size: 25px}
    p{
    background-color:rgba(145, 194, 229, 0.7);
}

 ul  {
    background-color:rgba(145, 194, 229, 0.7);
}

/* .makeMeBlue {
    color: blue */

    .container {
        display: flex;
       justify-content: flex-end;
    }

    .container2 {
        display: flex;
       justify-content: space-around;